<!DOCTYPE html>
<!-- this site is created with : http://www.iueditor.org -->
<HTML>
	<head>
		{% load static %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="{% static '/resources/css/iu.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static '/resources/css/compositions/header.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static '/resources/css/compositions/footer.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static '/resources/css/pages/page7.css' %}">
		<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css">
		<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css">
		<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css">
		<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css">
		<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css">
		<script type="text/javascript" src="//cdn.iueditor.org/js/iueditor-2.1.js"></script>
		<script type="text/javascript" src="{% static '/resources/js/iuevent.js' %}"></script>
		<!--[if lt IE 9]>
			<script>
				document.createElement("header")
				document.createElement("footer")
				document.createElement("section")
				document.createElement("nav")
				document.createElement("article")
			</script>
			<noscript>
				<strong>Warning !</strong>
				Because your browser does not support HTML5, some elements are simulated using JScript.
				Unfortunately your browser has disabled scripting. Please enable it in order to display this page.
			</noscript>
		<![endif]-->
	</head>
	<body>
	<div class="iu-page iu-page-222">
		<div class="iu-header iu-header-223 iu-composition-12">
			<a href="{% url 'celebda:welcome_index' account_id=account_now.id %}"><div class="iu-floating-image iu-floating-image-12"></div></a>
			<div class="iu-floating-image iu-floating-image-13"></div>
			<a href="{% url 'celebda:index' %}"><div class="iu-floating-image iu-floating-image-14"></div></a>
			<div class="iu-floating-image iu-floating-image-15"></div>
			<a href="{% url 'celebda:wish_matchcondition' account_id=account_now.id %}"><div class="iu-floating-image iu-floating-image-16"></div></a>
			<div class="iu-icon-button iu-icon-button-20">
				<p>
					<span>
					<a href="{% url 'celebda:my_profile' account_id=account_now.id %}">{{account_now.user_nick}}</a>
					</span>
					<img src="{% static '/resources/images/user_icn0.jpg' %}"/>
				</p>
			</div>
		</div>
		<div class="iu-page-content iu-page-content-224">
			<section class="iu-section iu-section-225">
				<div class="iu-box iu-box-186">
					<div class="iu-floating-image iu-floating-image-248"><img src="{{ account_now.photo.url }}"/></div>
					<div class="iu-text iu-text-79">
						<p>MY PROFILE</p>
					</div>
					<div class="iu-text iu-text-36">
						{% if account_now.is_promoter == 'P' %}
							<p>Promoter {{account_now.user_nick}}님, 환영합니다!</p>
						{% else %}
							<p>Influencer {{account_now.user_nick}}님, 환영합니다!</p>
						{% endif %}
					</div>
					<div class="iu-text iu-text-187">
						<p>별명:{{account_now.user_nick}}</p>
					</div>
					<div class="iu-text iu-text-188">
						<p>연락처:{{account_now.phone_num}}</p>
					</div>
					<div class="iu-text iu-text-184">
						<p>자기소개:{{account_now.introduce}}</p>
					</div>
				</div>
				<div class="iu-box iu-box-35">
					<div class="iu-text iu-text-194">
						<p>MY SUBPROFILE</p>
					</div>
					<div class="iu-text iu-text-195">
						<p>내 서브프로필 관리</p>
					</div>
					<div class="iu-icon-button iu-icon-button-41">
						<p>
							<img/>
							<span>
							{% if sub_1 != None %}
								<a href="{% url 'celebda:subprofile_detail' account_id=account_now.id tango_id_self=sub_1.id %}">{{sub_1.id_name}}</a>
							{% else %}
							{% endif %}
							</span>
						</p>
					</div>
					<div class="iu-icon-button iu-icon-button-42">
						<p>
							<img/>
							<span>
							{% if sub_2 != None %}
								<a href="{% url 'celebda:subprofile_detail' account_id=account_now.id tango_id_self=sub_2.id %}">{{sub_2.id_name}}</a>
							{% else %}
							{% endif %}
							</span>
						</p>
					</div>
					<div class="iu-icon-button iu-icon-button-43">
						<p>
							<img/>
							<span>
							{% if sub_3 != None %}
								<a href="{% url 'celebda:subprofile_detail' account_id=account_now.id tango_id_self=sub_3.id %}">{{sub_3.id_name}}</a>
							{% else %}
							{% endif %}
							</span>
						</p>
					</div>
					<div class="iu-icon-button iu-icon-button-44">
						<p>
							<img/>
							<span>
							{% if sub_4 != None %}
								<a href="{% url 'celebda:subprofile_detail' account_id=account_now.id tango_id_self=sub_4.id %}">{{sub_4.id_name}}</a>
							{% else %}
							{% endif %}
							</span>
						</p>
					</div>
					<div class="iu-icon-button iu-icon-button-196">
						<p>
							<img/>
							<span>
							{% if sub_5 != None %}
								<a href="{% url 'celebda:subprofile_detail' account_id=account_now.id tango_id_self=sub_5.id %}">{{sub_5.id_name}}</a>
							{% else %}
							{% endif %}
							</span>
						</p>
					</div>
					<div class="iu-icon-button iu-icon-button-197">
						<p>
							<img/>
							<span>
							{% if sub_6 != None %}
								<a href="{% url 'celebda:subprofile_detail' account_id=account_now.id tango_id_self=sub_6.id %}">{{sub_6.id_name}}</a>
							{% else %}
							{% endif %}
							</span>
						</p>
					</div>
				</div>
			</section>
		</div>
		<div class="iu-footer iu-footer-228 iu-composition-11">
			<div class="iu-floating-image iu-floating-image-17"></div>
			<div class="iu-text iu-text-23">
				<p>Company:20Trendy.Inc., Owner:송민준</p>
				<p>통신사업자:2021서울동대문523호</p>
				<p>개인정보관리자:최준혁,znhyk@gmail.com</p>
				<p>주소:서울특별시 동대문구 이문로 64-11</p>
				<p>20Trendy@ALL Rights reserved. designed by znhyk.</p>
			</div>
		</div>
	</div>
	<div id="iux-popup-dimcolor" class="iux-popup-dimcolor"></div>
	<div id="iux-panel-dimcolor" class="iux-panel-dimcolor"></div>
	</body>
</HTML>
